<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello World!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <div id="top">
        <h1>Minecraft Dictionary</h1>
    </div>
    <div>
        <h1>{{item}}</h1>
        <p>{{definition}}</p>
    </div>
</body>
</html>